<div class="header">
    <nav>
      <ul>
        <li><a (click)="navigateToWelcome()" class="nav-button">Home</a></li>
        <li><a (click)="logout()" class="nav-button">Log Out</a></li>
      </ul>
    </nav>
    <div class="main-text">
      <h1>Legal Rights Predictor</h1>
      <a (click)="downloadDocument('document1.html')" class="button"><i class="fas fa-user-shield"></i> Flowchart</a>
      <a (click)="downloadDocument('document2.html')" class="button"><i class="fas fa-gavel"></i> High Level Design</a>
      <a (click)="downloadDocument('document3.pdf')" class="button"><i class="fas fa-microphone"></i> Document 3</a>
      <a (click)="downloadDocument('document4.pdf')" class="button"><i class="fas fa-file-alt"></i> Document 4</a>
    </div>
  </div>