<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div class="header">
    <nav>
      <ul>
        <li><a (click)="navigateToWelcome()" class="nav-button">Home</a></li>
        <li><a (click)="logout()" class="nav-button">Log Out</a></li>
      </ul>
    </nav>
    <div class="main-text">
      <h1>Legal Rights Predictor</h1>
      <a (click)="downloadDocument('document1.html')" class="button"><i class="fas fa-file-alt"></i> Flowchart </a>
      <a (click)="downloadDocument('document2.html')" class="button"><i class="fas fa-file-alt"></i> Design </a>
      <a (click)="downloadDocument('BNS2K24BYDhiraj.xlsx')" class="button"><i class="fas fa-file-alt"></i> BNS Dataset</a>
      <a (click)="downloadDocument('Final_IC-dhiraj.xlsx')" class="button"><i class="fas fa-file-alt"></i> IC Dataset </a>
    </div>
  </div>